@charset "UTF-8";

html, body {
    margin: 0;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F05625;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #FCDFC3;
}
body {
    max-width: 1320pt;
}
p {
    max-width: 20em;
}
h1 {
    font-family: giulia-plain, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150pt;
    color: #FFF4E4;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 12%;
    height: 240px;
}
h2 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50pt;
    max-width: 7em;
    line-height: 55pt;
}
h3 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35pt;
    max-width: 10em;
    line-height: 40pt;
    margin-bottom: 20pt;
}
blockquote {
    margin: 0;
    padding: 0;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
}

header {
    background-color: #F05625;
    width: 100%;
    height: 5em;
}
footer {
    background-color: #F05625;
    width: 100%;
    height: 5em;
    margin-top: -15pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5pt 0pt 5pt 0pt;
    justify-content: space-between;
}
footer p {
    color: #FFF4E4;
    margin-left: 100pt;
}
footer img {
    width: 4%;
    margin-right: 100pt;
}
header img {
    margin-left: 15%;
    margin-top: 5pt;
}
nav {
    display: flex;
    flex-direction: row;
    padding-top: 10pt;
}
#navitabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
#navitabs p {
    width: 140pt;
    font-size: 12pt;
}
#faq {
    margin-left: -20pt;
}
#navitabs a:hover {
    background-color: #9B3718;
    border-radius: 50pt;
    padding: 7pt 15pt 7pt 15pt;
    margin-left: -15pt;
    transition: .2s;
}
#wel1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../images/bgs/lightest.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -12em;
    height: 100vh;
    padding-top: 15%;
}
.bodyimg img {
    width: 65%;
}
#welcome img {
    display: block;
}
#wel1 .body {
    padding-top: 4em;
    margin-left: -70pt;
}
#wel2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20%;
    padding-top: 20%;
    background-image: url(../images/bgs/light-medium.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -12em;
    height: 100vh;
    padding-top: 13%;
}
#wel2 p {
    max-width: 32em;
    padding-right: 100pt;
    color: #9B3718;
}
#wel2 .body {
    padding-top: 60pt;
}
#welcome {
    height: 100vh;
    background-image: url(../images/preheatbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#welcome img {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: -10%;
}

#wel3 {
    background-image: url(../images/bgs/medium.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -12em;
    height: 95vh;
    padding-top: 9%;
    text-align: center;
}
#wel3 p, #wel3 h3 {
    margin-left: 34%;
}
#wel3 p {
    min-width: 33em;
    margin-left: 33%;
    color: #9B3718;
 }
.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#letsstart {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
#letsstart img {
    width: 80%;
    margin-left: 40pt;
}



h4 a {
    font-family: giulia-plain, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    color: #FCDFC3;
    background-color: #FC6E41;
    border-radius: 50pt;
    padding-left: 27pt;
    padding-right: 27pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

h4 a:hover {
    color: #FCDFC3;
    background-color: #C9441B;
    border-radius: 50pt;
    transition: .25s;
}
#changetext {
    font-size: 150pt;
    color: #FFF4E4;
    animation-name: fontChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes fontChange {
    0% {
        font-family: fertigo-script, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    60% {
    font-family: giulia-plain, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150pt;
    }
    80% {
        font-family: bely-display, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    100% {
        font-family: fertigo-script, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
  }