@charset "UTF-8";

html, body {
    margin: 0;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F05625;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #FCDFC3;
}
body {
    max-width: 1320pt;
    background-color: #FFF3E4;
}

h1 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50pt;
}

h2 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
}
h3 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30pt;
    border: none;
    text-align: center;
    color: #9B3718;
}
h3 a {
    color: #9B3718;
}
p {
    max-width: 620px;
    color: #9B3718;
    font-size: 14pt;
    font-weight: 400;
    line-height: 22pt;
}
em {
    font-family: giulia, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 35pt;
}
header {
    background-color: #F05625;
    width: 100%;
    height: 5em;
}
header img {
    margin-left: 15%;
    margin-top: 5pt;
}
nav {
    display: flex;
    flex-direction: row;
    padding-top: 10pt;
}
#navitabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
#navitabs p {
    width: 140pt;
    font-size: 12pt;
}
#faq {
    margin-left: -20pt;
}
#navitabs a:hover {
    background-color: #9B3718;
    border-radius: 50pt;
    padding: 7pt 15pt 7pt 15pt;
    margin-left: -15pt;
    transition: .2s;
}
footer {
    background-color: #F05625;
    width: 100%;
    height: 5em;
    margin-top: -15pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5pt 0pt 5pt 0pt;
    justify-content: space-between;
}
footer p {
    color: #FFF4E4;
    margin-left: 100pt;
}
footer img {
    width: 4%;
    margin-right: 100pt;
}

#description {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    line-height: 20pt;
}
b {
    font-weight: 600;
}
#picdes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 70pt;
}
#picdes img {
    width: 35%;
}
.circleinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300pt;
    margin-left: -120pt;
}
.circleinfo p {
    color: #F05625;
    font-size: 18pt;
    font-weight: 500;
    max-width: 500pt;
}
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70pt;
    justify-items: center;
    text-align: center;
}
#info p {
    color: #F05625;
    font-size: 14pt;
}
#circles {
    display: flex;
    flex-direction: row;
    padding-left: 120pt;
    margin-bottom: 0pt;
}
.text {
    margin-top: 80pt;
    width: 100%;
    margin-bottom: -80pt;
}
#pairtext {
    margin-top: -300pt;
    margin-bottom: 100pt;
}
#ingredients {
    background-image: url(../images/bgs/light-medium.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120pt;
    padding-bottom: 200pt;
}
#recipetext {
    max-width: 300pt;
    min-width: 300pt;
    margin-left: 20%;
}
#recipeimg img {
    height: 60%;
    margin-left: 100pt;
    margin-right: 20%;
}
#text {
    margin-top: -370pt;
}


#directions1 {
    margin-top: -35pt;
    background-image: url(../images/bgs/medium.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    padding: 100pt 15% 250pt 20%;
}
#directions1 img {
    width: 40%;
    height: 28%;
    margin-top: 40pt;
    margin-right: 50pt;
}
.recipetext {
    border-left: #9B3718;
    border-width: 3px;
    border-left-style: solid;
    height: fit-content;
    margin-top: 45pt;
    padding-left: 20pt;
    margin-left: 0pt;
}

#directions2 {
    margin-top: -150pt;
    background-image: url(../images/bgs/medium-dark.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    padding: 150pt 15% 250pt 20%;
}
#directions2 img {
    width: 40%;
    height: 28%;
    margin-top: 0pt;
    margin-right: 50pt;
}
#directions3 {
    margin-top: -150pt;
    background-color: #F4BA90;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    padding: 0pt 15% 350pt 20%;
}
#directions3 img {
    width: 40%;
    height: 28%;
    margin-top: 0pt;
    margin-right: 50pt;
}
.recipetext h2 {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #9B3718;
    font-size: 30pt;
}
#pairings {
    margin-top: -150pt;
    background-image: url(../images/bgs/dark.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 140pt;
    padding-bottom: 100pt;
}
.dishpair {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
.dishpair img {
    width: 80%;
    margin-bottom: 15pt;
}
.dishpair a {
    text-align: center;
    font-family: giulia-plain, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    background-color: #F05625;
    border-radius: 50pt;
    background-origin: content-box;
    min-width: 80%;
    padding: 10pt 68pt 10pt 68pt;
}
.dishpair a:hover {
    background-color: #9B3718;
    transition: .25s;
    border-radius: 50pt;
    background-origin: content-box;
    min-width: 80%;
}
#recipelink:hover {
    scale: 110%;
    transition: .25s;
}
h3 a:hover {
    color: #F05625;
    transition: .25s;
}