@charset "UTF-8";

html, body {
    margin: 0;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F05625;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #FCDFC3;
}
body {
    max-width: 1320pt;
    background-color: #FFF3E4;
}
b {
    font-weight: 600;
}
h2 {
    font-family: giulia, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50pt;
}
h3 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    border: none;
    text-align: left;
}
h4 {
    font-size: 20pt;
    margin-bottom: 0pt;
}
h4 a {
    font-family: giulia, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    background-color: #FC6E41;
    border-radius: 50pt;
    padding: 5pt 13pt 5pt 13pt;
    margin-right: 20pt;
}
h4 a:hover {
    background-color: #9B3718;
    border-radius: 50pt;
    padding: 5pt 13pt 5pt 13pt;
    transition: .4s;
}
p {
    color: #9B3718;
    line-height: 19.75pt;
}
header {
    background-color: #F05625;
    width: 100%;
    height: 5em;
}
footer {
    background-color: #F05625;
    width: 100%;
    height: 5em;
    margin-top: -15pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5pt 0pt 5pt 0pt;
    justify-content: space-between;
}
footer p {
    color: #FFF4E4;
    margin-left: 100pt;
}
footer img {
    width: 4%;
    margin-right: 100pt;
}
header img {
    margin-left: 15%;
    margin-top: 5pt;
}
nav {
    display: flex;
    flex-direction: row;
    padding-top: 10pt;
}
#navitabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: right;
}
#navitabs p {
    width: 140pt;
}
#faq {
    margin-left: -20pt;
}
#navitabs a:hover {
    background-color: #9B3718;
    border-radius: 50pt;
    padding: 7pt 15pt 7pt 15pt;
    margin-left: -15pt;
    transition: .2s;
}

.text img {
    width: 100%;
    margin-bottom: -120pt;
}
#jump {
    display: flex;
    margin-top: -15pt;
}
#title {
    display: flex;
    justify-content: center;
    margin-left: 14%;
    margin-right: auto;
    margin-top: 50pt;
    margin-bottom: 130pt;
}
#title img {
    margin-top: 25pt;
    margin-left: 180pt;
    width: 40%;
}
#top {
    width: 100%
}
#top h2 {
    width: 200%;
}
.bodytext1 {
    background-image: url(../images/bgs/light-medium.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 350pt;
}
#yeast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 16%;
    margin-right: auto;
    padding-top: 130pt;
    color: #F05625;
}
#yeast img {
    width: 45%;
    padding-left: 115pt;
}
#yeast p {
    color: #F05625;
}
.bodytext {
    max-width: 350pt;
}
.bodytext2 {
    background-image: url(../images/bgs/medium.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 300pt;
}
#textproof {
    margin-top: -220pt;
}
#proofing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 16%;
    margin-right: auto;
    padding-top: 130pt;
    color: #9B3718;
}
#proofing img {
    width: 45%;
    padding-left: 115pt;
}
#bodytext3 {
    background-image: url(../images/bgs/medium-dark.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -180pt;
    padding-top: 100pt;
    padding-bottom: 70pt;
}
#bodytext3 h4, #bodytext3 a, #bodytext h2 {
    color: #B9411B;
    text-align: center;
    display: block;
}
#bodytext3 a:hover {
    color: #FCDFC3;
    transition: .3s;
}